.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  height: 140px;
  border-color: black;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

.App-features.row {
  padding-left: 100px;
  padding-right: 100px;
}

.upload {
  text-align: -webkit-center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}
