.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  height: 140px;
  border-color: black;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

.App-features {
  justify-content: center;
  text-align: center;
}
