.receiptComponent {
  text-align: -webkit-center;
}
 .idInput {
  width: 200px;
  vertical-align: middle;
}

.idInputWell {
  height: 70px;
}

.receiptWell {
  height: auto;
}
.receiptNav {
  /* text-align: -webkit-center;
  justify-content: center; */
  display: inline-block;
}
