.receiptComponent {
  text-align: -webkit-center;
}
 .idInput {
  width: 200px;
  vertical-align: middle;
}

.idInputWell {
  height: 100px;
}

.receiptNav {
  display: inline-block;
}

.idButton {
  margin-top: 10px;
}
.validreceipttext {
  height: 40px;
  padding-bottom: 10px;
}
