/* .stampComponent {
  text-align: -webkit-center;
}

.stampInputWell {
  height: 100px;
}

.stampButton {
  margin-top: 10px;
}
.stampdocstext {
  height: 40px;
  padding-bottom: 10px;
}
.stampContent {
  text-align: left;
  word-wrap: break-word;
} */
